@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #303030;
  margin-bottom: 0;
  border-radius: 0;
}

a {
  color: white;
}

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 300px;
  margin-left: 300px;
}
.jumbotron h1{
  color: #000;
  opacity: 1;
}

.jumbotron{
  height: 250px;
  text-align: center;
  /*opacity: 0.5;*/
  background-color: gray;
  /*background-image: url("https://lovemynutbutt.files.wordpress.com/2013/12/cooking_at_home.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
}

#section {
  margin-right: 300px;
  margin-left: 300px;
}

#section h1 {
  text-align: center;
}

.col-md-4 {
  text-align: center;
  /*border: 1px solid gray;*/
  /*margin: 0 auto;*/
  margin-bottom: 20px;
}


.col-md-4 img{
  height: 175px;
  /*width: 250px;*/
}

.col-md-4 p {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: #303030;
}

.title  {
  font-size: 1.5em;
}

.by  {
  font-size: 1em;
}


#footer {
    color: white;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #303030;
    min-height: 50px;
}
