@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar{

  background-color: #303030;
  margin-bottom: 0;
  border-radius: 0;
 /* position:fixed;*/
  width:100%;

}

a {
  color: white;
}

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 300px;
  margin-left: 300px;
}


.jumbotron {
  height: 250px;
  text-align: center;
  background-image: url('http://www.taste.com.au/images/recipes/agt/2010/03/24246_l.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: #000;
}


#section {
  margin-right: 300px;
  margin-left: 300px;
}

#section h1 {
  text-align: center;
}

.col-md-4 {
  text-align: center;
  /*border: 1px solid gray;*/
  /*margin: 0 auto;*/
  margin-bottom: 20px;
}


.col-md-4 img{
  height: 175px;
  /*width: 250px;*/
}

.col-md-4 p {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: #303030;
}

.title  {
  font-size: 1.5em;
}

.by  {
  font-size: 1em;
}
.tab-content{
width:500px;

}

/* ###########   meal details page ######################### */

.col-md-12 img {
  height:250px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 0 auto;
}
h3{
  margin-top: 0px;
  color: #000;
}
h5{

    text-align: center;
}

.row {
  margin-left: 0 auto;
  margin-right: 0 auto;
}


.col-md-6 {
  /*border: 1px solid pink;*/
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.col-md-6 p {
  margin: 0 auto;
  width: 500px;
}


.list-group {
  box-shadow: none;
/*overflow:hidden; overflow-y:scroll;*/
  height: 580px;
}

.list-group-item {
  border: none;
  margin-top: 2px;
  padding: 5px;
}


footer {
  color: white;

  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #303030;
  min-height: 50px;
  padding-top: 15px;
}

/*//////////////////////////Weekly Planner Page ////////////////*/

.daysList{
  text-align: center;
  list-style-type: none;
}
.col-md-12 h2 {
  text-align: center;
}
/*///////////////////////SHOPPING LIST PAGE//////////////*/

.table{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

