@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


* {
  /*border: 1px solid gray;*/
}

/*  colours
  red = 7D1935 - nav background/ body text /
  white = F5F3EE  - body background
  blue = 4A96AD - button colours
  */


html, body, .thumbnail, .caption {
  font-family: 'Montserrat', sans-serif;
  color: #7D1935;
  background-color: #F5F3EE;
}

ul .dropdown-menu{width:300px;}
form.navbar-form {margin-right: 15px;}

p.login.error.ng-binding{width:380px;}

.thumbnail .caption {
  color: #7D1935;
}

.background-jumbo {
  background-color: #7D1935;
  opacity: 0.5;
}


.jumbotron {
  text-align: center;

  background-image: url("jumbotroncolor.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #F5F3EE;
}



.jumbotron h1 {
  font-size: 7em;
}

.jumbotron p {
  color: #F5F3EE;

}

.contact-height{
  margin-top:25px;
}


/* ### Navigation #### */

.navbar-inverse {
  color: #000;
  background-image: linear-gradient(to bottom,#7D1935 0,#7D1935 100%);
  border-color: #7D1935;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}


.navbar-inverse .navbar-nav>li>a:hover {
  color: #4A96AD;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-brand {
  padding-top: 3px;
}

.navbar-brand img {
  width: 45px;
}




 /* ### BUTTON STYLYING ##### */


 .btn-default {
  background: #4A96AD;
  /*border: 2px solid #1D4D4A;*/
  color: #F5F3EE;
  text-shadow: none;
 }

 .btn-default:hover, .btn-default:focus, .open > .dropdown-toggle.btn-default {
   background: #F5F3EE;
   border-color: #4A96AD;
   color: #4A96AD;
 }

 .btn-default:active, .btn-default.active {
   border-color: #39c0ba;
   box-shadow: none;
 }

 .btn-default>a {
/*  background: #fff;
  border: 2px solid #1D4D4A;*/
  color: #F5F3EE;
 }

  .btn-default>a:hover{
   color: #4A96AD;
   text-decoration: none;
}


.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  color: #4A96AD;
  background-color: #F5F3EE;
  border-color: #4A96AD;
}




/* ### LINKS #### */

a {
  color: #4A96AD;
}

a:hover {
  color: #7D1935;
  text-decoration: none;
}



/* ### drop down  nav #### */

.navbar-inverse .navbar-nav>.open>a  {
  background-image: linear-gradient(to bottom,#7D1935 0,#7D1935 100%);
}

.dropdown-menu>li>a {
  color: #7D1935;
}

.dropdown-menu>li>a:hover {
  color: #4A96AD;

}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #F5F3EE;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #4A96AD;
  }


  .jumbotron h1 {
    font-size: 4em;
  }

  .jumbotron p {
    font-size: 1.5em;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #F5F3EE;
  }

  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #7D1935;
  }

}





/* ## for images on details page ## */
.mealDetailsImg {
  width: 50%;
}

.ingredient-heading h3 {
  margin-top: 30px;
}

/* ## for weekly plan layout ### */

.dayofweek {
  font-weight: bold;
}

.seven-cols, .rating, .center {
  text-align: center;
}

.col-md-1 {
  margin-top: 15px;
}

.dayItem {
  margin-top: 10px;
}

.weekly-row-height {
  min-height: 50px;
}

.shop-list-row-height {
  margin-top: 25px;
  margin-left: 10px;
}




/* ####  Likes and Dislikes Styling ###### */

.likes,
.dislikes {
  background: #F5F3EE ;
  color: #4A96AD;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 0 10px 0;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
  color: #4A96AD ;
  background: rgba(74, 150, 173, 0.25);
  transition: background 500ms;
}

.error-vote {
  text-align: center;
}


.view-meal-details {
  margin-top: 15px;
}

/* ## for images on home page ##  */

.col-md-3{
  width: 292.5px;
  height: 305px;
}

.thumbnail a>img {
  width: 500px;
  height: 175px;
}

/* ## all images expcet jumptron ## */
.imageBoxShadow img, .contact-height img{
  box-shadow: 0 8px 6px -6px black;
}



/* ##### FORMS - sign up ########## */

.signup, .login {
  width: 50%;
  padding-right: 100px;
}


/* ### toogle for shopping list page #####*/

.red {
    color: rgba(255, 0, 0, 0.5);
    /*color: red;*/
    text-decoration:line-through;
}




/* ########## MEDIA QUERIS ######################################### */


/* ## alignment for images on home page when mobile ## */
@media(max-width:767px){
	.col-sm-6{
		text-align: center;
		margin: 0 auto;
	}
  .col-lg-12 {
    text-align: center;
  }

  .signup, .login {
    width:100%;
    padding-right: 0;
  }
}


/* ### 7 columns on meal details page for  Weekly Plan */
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}


/* ###### Contact Page ######*/

