



  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>Welcome to Roa Meals</h1>
    <p>We hope you have a pleasent experience.</p>
  </header>

  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h1>POPULAR MEALS</h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row text-center" ng-controller="MainController">
      <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="meal in mealsInfo">
          <div class="thumbnail">
            <a href="#MealDetails/{{$index}}"><img ng-src='{{ meal.ImageUrl }}'></a>

              <div class="caption">
                  <h3>{{ meal.Name }}</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>
                      <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->

