

<div class="main">

  <div class="jumbotron">
    <h1>Welcome to Roa Meals</h1>
    <p>We hope you have a pleasent experience.</p>

  </div>



  <div id="section" class="container" ng-controller="MainController">
    <h1 ng-Messages="$error"> POPULAR MEALS</h1>

    <hr>
      <ul class="row list-group" >
          <li class="col-md-4 col-sm-6 list-group-item" ng-repeat="meal in mealsInfo">
            <a href="#MealDetails/{{$index}}"><img ng-src='{{ meal.ImageUrl }}'></a>
            <h3> {{ meal.Name }} </h3>
  
          </li>
      </ul>
      <br>
  </div>

</div>
