<div class="main">

    <div id="section" class="container" ng-controller="MealController">
      <h1> {{ detail.Name }} </h1>

      <hr>
      <div class = "row">
        <div class="col-md-12">
          <img ng-src='{{ detail.ImageUrl }}'>
        </div>
            </div>



            <div class="row">
            <div class="col-md-6">
              <h3>How to Cook:</h3>

              <p>{{ detail.Description }}</p>

            </div>
            <div class="col-md-6" >
              <h3>List of Ingredients:</h3>

              <ul class="list-group">
                <li class="list-group-item" ng-repeat="ingredient in detail.Ingredients">{{ ingredient.Name }}</li>

                <div class="dropdown" ng-controller="MainController">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Select Day
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#WeekPlanner" ng-click="getMealPlan()">Yes</a>
                    </li>
                 <!--    <li><a href="#index">Tuesday</a></li>
                    <li><a href="#index">Wednesday</a></li>
                    <li><a href="#index">Thursday</a></li>
                    <li><a href="#index">Friday</a></li>
                    <li><a href="#index">Saturday</a></li>
                    <li><a href="#index">Sunday</a></li> -->
                  </ul>
              </div>
            </ul>

        </div>

  </div>


