<div id="section">
  <div class="row">
    <div class="col-md-8">
      <h1> {{ detail.Name }} </h1>
    </div>
    <div class="col-md-4 ingredient-heading">
      <h3>Ingredients:</h3>
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-md-8">
      <div class=" imageBoxShadow">
        <img class="img-responsive center-block mealDetailsImg" ng-src='{{ detail.ImageUrl }}'>
      </div>
      

      <h3>How to Cook:</h3>
      <p>{{ detail.Description }}</p>


      <div class="row center">
        <div class="col-md-4 col-xs-4">
          <div class="row view-meal-details">
            <button type="button" class="btn btn-default btn-sm">
              <a href="#index">View All Meals</a>
            </button>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="rating">

            <div class="row likes" ng-click="plusOne(detail.Id)">
              {{ likes }}
            </div>
            <div class="row">
              <p>likes</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
         <div class="rating">

           <div class=" row dislikes" ng-click="minusOne(detail.Id)">
            {{ dislikes }}
           </div>
           <div class="row">
             <p>dislikes</p>
           </div>

         </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 error-vote">
          <p>{{voteError}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4" >
      <ul class="list-group">
          <table class="table table-striped">
                    <thead>
                          <tr>
                            <th>Ingredient</th>
                            <th>Quantity</th>
                            <th>Measurement</th>
                          </tr>
                    </thead>
                    
                    <tbody ng-repeat="ingredient in detail.Ingredients">                     
                      <tr>
                        <td>{{ingredient.Name}}&nbsp;</td>
                        <td>{{ingredient.Quantity}} &nbsp;</td>
                        <td>{{ingredient.Measurement}}</td>
                      </tr>                      
                    </tbody>
                  </table>
        </li>      
      </ul>
    


      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Day
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
             <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Monday')">Monday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Tuesday')">Tuesday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Wednesday')">Wednesday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Thursday')">Thursday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Friday')">Friday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Saturday')">Saturday</a></li>
            <li><a href="#WeekPlanner" ng-click="AddToMealPlan('Sunday')">Sunday</a></li>
          </ul>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="container">
        <hr>
        <h4>Your Weekly Plan of Meals</h4>

       <div class="row seven-cols">
         <div class="col-md-1 dayofweek" ng-repeat="meal in showMealPlan.MealPlanItems">
           <p>{{meal.Day}}</p>

           <div class="weekly-row-height">
             <a href="#MealDetails/{{meal.Meal.Id - 1 }}">
               {{meal.Meal.Name}}
             </a>
           </div>

           <div class="button">
             <button type="button" class="btn btn-default btn-xs dayItem">
               <a href="" value="delete" ng-click="deleteMeal(meal.Id)">delete</a>
             </button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>

