<div class="jumbotron" ng-controller="RegisterController">

    <h1>Welcome to Roa Meals</h1>
    <p>We hope you have a pleasent experience.</p>
 <form>
 	<div class="form-group">
    	<input type="text" id="txt" ng-model="text">
	</div>
	<div class="form-group">
   		<input type="password" id="pswd" ng-model="pswd">
	</div>
	<div class="form-group">
     	<input type="password" id="conpswd" ng-model="conpswd">
  </div>
  <input type="button" id="submit" value="go" ng-click="register()">
   <input type="button" id="submit" value="go" ng-click="getMealPlan()">
</form>

</div>

