<div class="main">

  <div class="jumbotron" ng-controller="RegisterController">
    <h1>Welcome to Roa Meals</h1>
    <p>We hope you have a pleasent experience.</p>
  </div>


  <div id="section" class="container signup">

    <form class="form-horizontal">


    	<div class="form-group">
          <label for="txt"class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
        	<input type="text" id="txt" ng-model="text">
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
       		<input type="password" id="pswd" ng-model="pswd">
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-4 control-label">Confirm Password</label>
        <div class="col-sm-8">
         	<input type="password" id="conpswd" ng-model="conpswd">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <input type="button" id="submit" value="Sign Up" ng-click="register()">
        </div>
      </div>

    </form>
  </div>
</div>
