<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h1>Search</h1>
        <h5>For meal title or ingredient</h5>
    </div>
</div>
<!-- /.row -->

<div class="row text-center">

    <div class="col-md-3 col-sm-6 " ng-repeat="meal in mealsInfo | filter:search">
        <div class="thumbnail imageBoxShadow mealBox">
          <!-- class="img-responsive" -->
          <a href="#MealDetails/{{$index}}"><img class="mealsImgs" ng-src='{{ meal.ImageUrl }}'></a>
          <div class="caption">
              <h4>{{ meal.Name }}</h4>
          </div>
        </div>
    </div>
</div>
