<div id="section" class="container" ng-controller="MainController">
  <h1>Shopping List </h1>

  <div class = "row">
    <div class="col-md-8">
      <table class="table" >
        <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
          <th>Measurement</th>
        </tr>

        <tr ng-repeat="ing in arrayOfIng">
          <td> {{ing.Name}}</td>
          <td>{{ ing.Quantity}} </td>
          <td>{{ ing.Measurement}} </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="pdf-print">
    <p>
      <!-- ### PRINT BUTTON ### -->
      <script>
        var pfHeaderImgUrl = '';
        var pfHeaderTagline = '';
        var pfdisableClickToDel = 0;
        var pfHideImages = 0;
        var pfImageDisplayStyle = 'right';
        var pfDisablePDF = 0;
        var pfDisableEmail = 0;
        var pfDisablePrint = 0;
        var pfCustomCSS = '';
        var pfBtVersion='1';
        (function(){
          var js, pf;
          pf = document.createElement('script');pf.type = 'text/javascript';
          if('https:' == document.location.protocol){
            js='https://pf-cdn.printfriendly.com/ssl/main.js'
          } else {
            js='http://cdn.printfriendly.com/printfriendly.js'
          }
        pf.src=js;
        document.getElementsByTagName('head')[0].appendChild(pf)})();
      </script>
      <a href="http://www.printfriendly.com"
        style="color:#fff; text-decoration:none;"
        class="printfriendly"
        onclick="window.print();return false;"
        title="Printer Friendly and PDF">
        <img style="border:none;-webkit-box-shadow:none;box-shadow:none;"
        src="http://cdn.printfriendly.com/button-print-gry20.png" alt="Print Friendly and PDF"/>
      </a>
      <!-- ## -->
    </p>
  </div>
</div>



















