<div id="section" class="container" ng-controller="MainController">
      <h1>Shopping List</h1>
      <hr>

      <div class = "row">
        <div class="col-md-8">
          <table class="table" ng-repeat="ingredient in detail.Ingredients">
            <tr>
              <td>{{ ingredient.Quantity }} </td>
              <td>{{ detail }} </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <form action="demo_form.asp" method="get">
                <input type="checkbox" name="vehicle" value="Bike">
                </form>
                <br>
              </td>
            </tr>
          </table>
        </div>
      </div>


</div>



















