<div id="section" class="container">
  <h1>Shopping List </h1>

  <div class = "row">
    <div class="col-md-8">
      <table class="table" >
        <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
          <th>Measurement</th>
          <th>Have</th>
        </tr>

        <tr class="this-row" ng-repeat="ing in arrayOfIng" ng-class="{'red' : toggle}">
          <td > {{ing.Name}}</td>
          <td>{{ ing.Quantity}} </td>
          <td>{{ ing.Measurement}} </td>
          <td>

            <!-- <button id="btn" ng-click="toggle = !toggle" ng-class="{'red' : toggle}">have</button> -->

            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="toggle = !toggle" ng-class="{'red' : toggle}">
                </label>
            </div>

          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="pdf-print">
    <p>

        <button type="button" ng-click="toggleCSS()" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </button>
      </a>
    </p>


  </div>
</div>



















