

<div id="section" class="container">
  <h1>WEEKLY PLANNER</h1>
  <h2>Planned Meals</h2>

  <hr>

  <div class="row">
      <div class="container">
        <div class="row seven-cols">
          <div class="col-md-1 dayofweek" ng-repeat="meal in showMealPlan.MealPlanItems">
            <p>{{meal.Day}}</p>


            <div class="weekly-row-height">
              <a href="#MealDetails/{{meal.Meal.Id - 42 }}">
                {{meal.Meal.Name}}
              </a>
            </div>

            <div class="button">
              <button type="button" class="btn btn-default btn-xs dayItem">
                <a href="#WeekPlanner" value="delete" ng-click="deleteMeal(meal.Id)">delete</a>
              </button>
            </div>

          </div>
        </div>
      </div>
  </div>

  <div class="row shop-list-row-height">
    <button type="button" class="btn btn-default btn-sm">
      <a href="#ShoppingList" ng-click="getShoppingList()">
        My Shopping List</a>
    </button>

    <button type="button" class="btn btn-default btn-sm">
      <a href="#index">
        View All Meals</a>
    </button>
  </div>
</div>








