

   <div id="section">
      <h1>WEEKLY PLANNER</h1>
      <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Planned Meals</h2>
                <ul class = "daysList">
                  <li>Monday : {{meal.Name}}</li>
                  <li>Tuesday: {{meal.Name}}</li>
                  <li>Wednesday: {{meal.Name}}
                  <li>Thursday: {{meal.Name}}</li>
                  <li>Friday: {{meal.Name}}</li>
                  <li>Saturday: {{meal.Name}}</li>
                  <li>Sunday: {{meal.Name}}</li>

            </div>




    </div>








