

<div id="section" class="container" ng-controller="MealController">
  <h1>WEEKLY PLANNER</h1>
  <h2>Planned Meals</h2>

  <hr>


  <div class = "row">
    <div class="col-md-8 ">
<!-- table-responsive -->
      <table class="table" >
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>

        <tr>
          <td ng-repeat="meal in showMealPlan.Meals"> {{meal.Name}}</td>
        </tr>
      </table>
    </div>
  </div>




 <button ng-controller= "MainController"><a href="#ShoppingList" ng-click="getShoppingList()">My Shopping List</a><button>

</div>








